
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="home_page">
        <h1 class="display-4">Witaj na stronie ebiblioteki WSEI.</h1>
        <p>Sprawdź jakie książki posiadamy w naszym asortymencie!</p>
    </div>
</div>
