@model eLibrary.Models.Book
<h2>Pomyślnie wypożyczyłeś książkę.</h2>
<p>Książka będzie na Ciebie czekała w siedzibie biblioteki.</p>
<a class="btn btn-primary" asp-action="List" asp-controller="Home"><i class="material-icons">arrow_back</i>Wróć do listy książek</a>