@model eLibrary.Models.Book
<h2>Pomyślnie dodałeś książkę o tytule  nazwie: @Model.Title</h2>
<a class="btn btn-primary" asp-action="AddForm" asp-controller="Book">Dodaj następną książkę</a>
<a class="btn btn-primary" asp-action="List" asp-controller="Book">Zobacz listę książek</a>
