@model eLibrary.Models.Book
<h2>Pomyślnie dodałeś książkę o tytule  nazwie: @Model.Title</h2>
<a class="btn btn-primary" asp-action="AddForm" asp-controller="Book"><i class="material-icons">add_box</i>Dodaj następną książkę</a>
<a class="btn btn-primary" asp-action="List" asp-controller="Book"><i class="material-icons">format_list_bulleted</i>Zobacz listę książek</a>
