@model eLibrary.Models.Book


<div class="container m-3">
    <h2>Edycja książki:</h2>
    <form asp-action="Edit" method="post">
        <input asp-for="Id" />
        <label asp-for="Title">Tytuł:</label>
        <input class="form-control" asp-for="Title" />
        <label asp-for="Authors">Autor:</label>
        <input class="form-control" asp-for="Title" />
        <label asp-for="PublishingYear">Rok wydania:</label>
        <input class="form-control" asp-for="PublishingYear" />
        <label asp-for="ISBN">ISBN:</label>
        <input class="form-control" asp-for="ISBN" />
        <label asp-for="Pages">Strony:</label>
        <input class="form-control" asp-for="Pages" />
        <button class="btn btn-primary">Zapisz zmiany</button>
    </form>
</div>