@model eLibrary.Models.Book
@*

*@
@{
}

<h2>Książki</h2>
<a class="btn btn-primary" asp-controller="Book" asp-action="AddForm"><i class="material-icons">add_box</i>Dodaj kolejną książkę</a>
<a class="btn btn-primary" asp-controller="Book" asp-action="List"><i class="material-icons">format_list_bulleted</i>Zobacz listę książek</a>