@model eLibrary.Models.Book
@*

*@
@{
}

<h2>Książki</h2>
<a class="btn btn-primary" asp-controller="Book" asp-action="AddForm">Dodaj kolejną książkę</a>
<a class="btn btn-primary" asp-controller="Book" asp-action="List">Lista książek</a>